@import "tailwindcss";
@import "tw-animate-css";

@import "./vars.css";
@import "./theme.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    outline-color: var(--color-ring);
    border-color: var(--color-border);
  }

  body {
    color: var(--color-foreground);
    background: var(--color-background);
  }
}

@layer utilities {
  .container {
    margin-inline: auto;
    padding-inline: 2rem;
  }

  .one-line {
    overflow: hidden;
    display: -webkit-box;
    word-break: break-all;

    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}